.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #a0a0a0;
    border-radius: 2px 2px 6px 6px;
    background-color: #ffffffdd;
    top: 90px;
    right: 40px;
    z-index: 5;
  
    .empty-message {
      font-size: 18px;
      margin: 50px auto;
    }

    .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      // overflow: scroll;
      overflow: auto;
    }
  
    button {
      margin-top: auto;
    }
  }
  