body {
    font-family: 'Abel', sans-serif;
    padding: 20px 60px;
}

* {
  box-sizing: border-box;
}

.options a, .option {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
  
.option {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  margin: 1em 0.8em;
}

.option.type1 {
  color: #566473;
}

.option.type1.type1::after, .option.type1.type1::before {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  height: 10%;
  border: 1px solid;
  transition: all 0.3s ease;
  border-radius: 2px;
}

.option.type1.type1::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #a0a0a0;
  border-right-color: #a0a0a0;
}

.option.type1.type1::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #a0a0a0;
  border-left-color: #a0a0a0;
}

.option.type1.type1:hover:after, .option.type1.type1:hover:before {
  width: 30%;
  height: 40%;
}