body {
    font-family: 'Abel', sans-serif;
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

a:hover {
    transition: 0.3s;
    text-shadow: 2px 2px #e0e0e0;
}